.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cardimage{
  height: 500px;
  width: 500px;
}
.header{
  background-color: rgb(255, 193, 7);
}
.image1{
  height: 750px;
  width: 1250px;
}
.font-link{
  font-family: 'Oswald', sans-serif;
}
.image2{
  height: 580px;
  width: 400px;
}
/* .searchbar{
  padding-right: 150px;
}
.searchresult{
  padding-left: 10px;
  height: 200px;
  width: 150px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}
.searchresult::-webkit-scrollbar{
  display: none;
}
.searchresult .resultItem{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}
.resultItem{
  margin-left: 10px;
} */